*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body , html{
  width:100%;
  height: 100%;
}
button{
  cursor: pointer;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:5px 20px;
  background:linear-gradient(to right,rgb(43, 43, 230),rgb(8, 163, 225));
}
nav h3{
  font-size: 40px;
}
nav .links button{
  font-size: 25px;
  padding: 5px 10px;
  outline: none;
  border: none;
  color:#dce3e8;
  border-radius: 20px;
  font-weight: bold;
  background-color: rgb(58, 49, 230);
}
.heading{
  font-size: 50px;
  margin-block:15px;
  font-weight: 600;
  color: transparent;
  background: linear-gradient(to top, #0b86f1, #f183ad);
  background-clip: text;
  text-align: center;
}
#hide{
  position: absolute;
  top:5px;
  right: 10px;
  cursor: pointer;
}
#hide i{
  color: white;
  font-size: 30px;
  font-weight: bold;
}


.links button:hover,.notes-form button:hover,.btn button:hover{
  background-color: rgb(237, 95, 95);
  color:chartreuse;
}
.notes{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}
.notes-form{
  display: none;
  width: fit-content;
  flex-direction: column;
  flex-wrap: wrap;
  gap:20px;
  background-color: rgb(65, 34, 34);
  padding: 50px 20px 20px 20px;
  border-radius: 20px;
  position: relative;
}
.notes-form input,.notes-form button{
  width: 300px;
  padding: 3px 10px;
  outline: none;
  font-size: 30px;
  border-radius: 20px;
}
.notes-form button{
  background-color: rgb(84, 217, 84);
  border: none;
  font-weight: bold;
}
/* notes show div */
.show-notes{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

}
.card{
  width:200px;
  height: 200px;
  padding:5px 10px;
  margin: 20px;
  background-color: blue;
  border-radius: 20px;
  text-align: center;
  position: relative;
}
.card h2{
  font-size: 30px;
  margin-top: 10px;
  font-weight: 600;
}
.card p{
  margin-top: 10px;
  color:white;
  font-weight: 400;
}
.card .btn{
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 10px;
  left:auto;
}
.btn button{
  font-size: 18px;
  background-color: rgb(16, 211, 104);
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
}